* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Times, serif;
}
a {
    text-decoration: none;
}

body {
    /* background-image: linear-gradient(to right, #76cdff, #2f75f7, #2a2a72); */
    background-image: linear-gradient(to right, #ffffff, #71a3ff, #2f75f7);
}
.bubbles {
    position: fixed;
    border-radius: 50%;
    height: 400px;
    width: 400px;
    /* background-image: linear-gradient(to right, #76cdff, #2f75f7, #2a2a72); */
    background-image: linear-gradient(to right, #ffffff, #71a3ff, #2f75f7);
    z-index: -100;
}
#bubble1 {
    top: -70px;
    left: -140px;
}
#bubble2 {
    bottom: -180px;
    left: -40px;
}
#bubble3 {
    bottom: -140px;
    left: 130px;
}
#bubble4 {
    top: -150px;
    right: -120px;
}
#bubble5 {
    bottom: -100px;
    right: -150px;
}

#outer-div {
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: -10;
}
#background {
    position: fixed;
    width: 90%;
    height: 80%;
    background-color: #fff;
    opacity: 0.5;
    border-radius: 15px;
}

#navbar {
    padding: 30px 100px;
}
#navbar i {
    height: 80px;
    color: white;
}
#navbar h1 {
    display: inline;
    font-size: 20px;
    color: white;
}
#navbar h1:hover {
    text-decoration: underline;
}

#contact {
    display: flex;
    justify-content: space-between;
    margin: 10px 125px;
    font-size: 22px;
}
#contact-details p {
    margin: 15px 0;
}
#map {
    margin-right: 60px;
}

#google_translate_element {
    float: right;
    margin: 30px 105px 0 0;
}
.goog-te-combo {
    outline: none;
    border: none;
    padding: 5px;
    box-shadow: 0 0 3px rgb(121, 120, 120);
}
.goog-te-gadget {
    color: transparent !important;
}
.goog-te-gadget img {
    display: none;
}
.goog-logo-link {
    display: none;
}