#logo {
    height: 60px;
}
* {
    font-family: 'Roboto', Times, serif;
    margin: 0;
}
section {
    margin: 60px;
}
h1 {
    font-size: 30px;
}
h3 {
    font-weight: normal;
}
h5 {
    font-weight: normal;
    font-size: 18px;
    margin-top: 8px;
}
p {
    font-size: 15px;
    margin: 10px 0;
}
a {
    text-decoration: none;
    color: black;
    font-size: 17px;
    margin: 0 10px;
}
button {
    background: none;
    border: 1px solid rgb(47, 117, 247);
    margin: 0 10px;
    padding: 8px 20px;
    font-size: 15px;
    color:rgb(47, 117, 247);
}
button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px;
}
i {
    color: black;
    font-size: 20px;
}
img {
    height: 250px;
    width: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
}

.search-hotel {
    display: flex;
    align-items: center;
    margin: 40px 0;
    border: 1px solid rgb(211, 211, 211);
    padding: 10px;
}
.content {
    margin-left: 25px;
}
.ratings {
    color: rgb(173, 173, 173);
}
.checked {
    color: rgb(255, 196, 0);
}

footer {
    background-color: rgb(163, 163, 163);
    padding: 30px;
    text-align: center;
}

#google_translate_element {
    float: right;
    margin: 0 10px 0 30px;
}
.goog-te-combo {
    outline: none;
    border: none;
    padding: 5px;
    box-shadow: 0 0 3px rgb(121, 120, 120);
}
.goog-te-gadget {
    color: transparent !important;
}
.goog-te-gadget img {
    display: none;
}
.goog-logo-link {
    display: none;
}